<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Я родился в Украине, и я горжусь своей страной.</h1>
<p>Все дети мечтают стать «большими», и только украинские дети мечтают стать «великими».<br>
Все девушки, выходя замуж, становятся «женами», и только украинки – «дружинами».<br>
Еще очень хочется, чтоб тебя не просто «любили», а еще и «кохали», чтоб тебя не просто «понимали», но еще и «розуміли», то есть подходили с разумом, с умом…<br>
Хочется жить не просто в окружающем «мире», а в «світі», то есть в Свете.<br>
И быть не «сливками» (будто тебя слили), а «вершками» (вершиной) общества.<br>
И вообще, чтоб ты не просто «скучал», а «сумував» и не «по мне»,<br>
а «за мною». И хочу быть не «последней», а «останньою», чтоб не шёл по следу, а просто остановился. На мне."</p><br>
</body>
</html>